<a href="https://colab.research.google.com/github/faisalnawazmir/Econometrics-ML_for_Finance/blob/main/hedging_revisited_ch4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
file = r'/gdrive/My Drive/data/SandPhedge.xls'
data= pd.read_excel(file)
data.head()

        Date        Spot  Futures
0 1997-09-01  947.280029   954.50
1 1997-10-01  914.619995   924.00
2 1997-11-01  955.400024   955.00
3 1997-12-01  970.429993   979.25
4 1998-01-01  980.280029   987.75

In [5]:
#https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm
import statsmodels.formula.api as smf
import pandas.util.testing as tm

In [6]:
formula = 'Spot ~ Futures'
hypotheses = 'Futures = 1'
results = smf.ols(formula, data).fit()
f_test = results.f_test(hypotheses)
print(f_test)

<F test: F=array([[2.58463856]]), p=0.10919294686206271, df_denom=245, df_num=1>

In [7]:
def LogDiff(x):
    x_diff = 100*np.log(x/x.shift(1))
    x_diff = x_diff.dropna()
    return x_diff

In [8]:
data = pd.DataFrame({'ret_spot' : LogDiff(data['Spot']),
                    'ret_future':LogDiff(data['Futures'])})

In [9]:
  formula = 'ret_spot ~ ret_future'
hypotheses = 'ret_future = 1'

results = smf.ols(formula, data).fit()
f_test = results.f_test(hypotheses)
print(f_test)

<F test: F=array([[14.02980961]]), p=0.00022456631728787958, df_denom=244, df_num=1>