<a href="https://colab.research.google.com/github/faisalnawazmir/Econometrics-ML_for_Finance/blob/main/Pickle_macro_for_econometrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
file = r'/gdrive/My Drive/data/macro.xls'
data= pd.read_excel(file)
data.head()

        Date  MICROSOFT       SANDP    CPI  ...   CCREDIT  BMINUSA  USTB3M  USTB10Y
0 1986-03-01   0.095486  238.899994  108.8  ...  606.7990     1.50    6.76     7.78
1 1986-04-01   0.111979  235.520004  108.6  ...  614.3669     1.40    6.24     7.30
2 1986-05-01   0.121528  247.350006  108.9  ...  621.9152     1.20    6.33     7.71
3 1986-06-01   0.106771  250.839996  109.5  ...  627.8910     1.21    6.40     7.80
4 1986-07-01   0.098958  236.119995  109.5  ...  633.6083     1.28    6.00     7.30

[5 rows x 10 columns]

In [ ]:
def LogDiff(x):
  x_diff = 100*np.log(x/x.shift(1))
  x_diff = x_diff.dropna()
  return x_diff

In [ ]:
data = pd.DataFrame({'dspread' : data['BMINUSA'] - \
data['BMINUSA'].shift(1),
'dcredit' : data['CCREDIT'] - \
data['CCREDIT'].shift(1),
'dprod' : data['INDPRO'] - \
data['INDPRO'].shift(1),
'rmsoft' : LogDiff(data['MICROSOFT']),
'rsandp' : LogDiff(data['SANDP']),
'dmoney' : data['M1SUPPLY'] - \
data['M1SUPPLY'].shift(1),
'inflation' : LogDiff(data['CPI']),
'term' : data['USTB10Y'] - data['USTB3M'],
'dinflation' : LogDiff(data['CPI']) - \
LogDiff(data['CPI']).shift(1),
'mustb3m' : data['USTB3M']/12,
'rterm' : (data['USTB10Y'] - data['USTB3M']) - \
(data['USTB10Y'] - data['USTB3M']).shift(1),
'ermsoft' : LogDiff(data['MICROSOFT']) - \
data['USTB3M']/12,
'ersandp' : LogDiff(data['SANDP']) - \
data['USTB3M']/12})
data.head()

   dspread  dcredit   dprod     rmsoft  ...   mustb3m  rterm    ermsoft   ersandp
0      NaN      NaN     NaN        NaN  ...  0.563333    NaN        NaN       NaN
1    -0.10   7.5679  0.0240  15.933171  ...  0.520000   0.04  15.413171 -1.944918
2    -0.20   7.5483  0.1196   8.183334  ...  0.527500   0.32   7.655834  4.373351
3     0.01   5.9758 -0.1891 -12.945833  ...  0.533333   0.02 -13.479167  0.867757
4     0.07   5.7173  0.3137  -7.599084  ...  0.500000  -0.10  -8.099084 -6.547514

[5 rows x 13 columns]

In [ ]:
import pickle
with open( '/gdrive/My Drive/data/macro.pickle', 'wb') as handle:
  pickle.dump(data, handle)