<a href="https://colab.research.google.com/github/faisalnawazmir/Econometrics-ML_for_Finance/blob/main/Simple_linear_Regression_ch3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
file = r'/gdrive/My Drive/data/SandPhedge.xls'
data = pd.read_excel(file)
data.head()

        Date        Spot  Futures
0 1997-09-01  947.280029   954.50
1 1997-10-01  914.619995   924.00
2 1997-11-01  955.400024   955.00
3 1997-12-01  970.429993   979.25
4 1998-01-01  980.280029   987.75

In [ ]:
data['Spot'].describe()

count     247.000000
mean     1423.087326
std       441.542601
min       735.090027
25%      1120.675049
50%      1301.839966
75%      1540.000000
max      2823.810059
Name: Spot, dtype: float64

In [ ]:
#https://www.statsmodels.org/stable/index.html
import statsmodels.api as sm

In [ ]:
import statsmodels.formula.api as smf

In [ ]:
formula = 'Spot ~ Futures'
results = smf.ols(formula, data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Spot   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.005e+06
Date:                Sun, 11 Oct 2020   Prob (F-statistic):               0.00
Time:                        03:29:41   Log-Likelihood:                -826.86
No. Observations:                 247   AIC:                             1658.
Df Residuals:                     245   BIC:                             1665.
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -2.8378      1.489     -1.906      0.058      -5.771       0.095
Futures        1.0016      0.001   1002.331      0.000       1.000       1.004
==============================================================================
Omnibus:                      245.415   Durbin-Watson:                   1.326
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10091.673
Skew:                          -3.814   Prob(JB):                         0.00
Kurtosis:                      33.371   Cond. No.                     5.05e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.05e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
def LogDiff(x):
    x_diff = 100*np.log(x/x.shift(1))
    x_diff = x_diff.dropna()
    return x_diff

In [ ]:
x=LogDiff(data['Spot'])

In [ ]:
x.head()

1   -3.508608
2    4.362145
3    1.560914
4    1.009901
5    6.807837
Name: Spot, dtype: float64

In [ ]:
data = pd.DataFrame({'ret_spot' : LogDiff(data['Spot']),
                    'ret_future':LogDiff(data['Futures'])})
data.head()

   ret_spot  ret_future
1 -3.508608   -3.247557
2  4.362145    3.299927
3  1.560914    2.507563
4  1.009901    0.864266
5  6.807837    6.159189

In [ ]:
data.describe()

         ret_spot  ret_future
count  246.000000  246.000000
mean     0.416776    0.414017
std      4.333323    4.419049
min    -18.563647  -18.944697
25%     -1.831388   -1.931400
50%      0.918522    0.997641
75%      3.276468    3.133588
max     10.230659   10.387184

In [ ]:
formula = 'ret_spot ~ ret_future'
results = smf.ols(formula, data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:               ret_spot   R-squared:                       0.989
Model:                            OLS   Adj. R-squared:                  0.989
Method:                 Least Squares   F-statistic:                 2.147e+04
Date:                Sun, 11 Oct 2020   Prob (F-statistic):          7.54e-240
Time:                        03:30:10   Log-Likelihood:                -157.16
No. Observations:                 246   AIC:                             318.3
Df Residuals:                     244   BIC:                             325.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0131      0.029      0.444      0.658      -0.045       0.071
ret_future     0.9751      0.007    146.543      0.000       0.962       0.988
==============================================================================
Omnibus:                       48.818   Durbin-Watson:                   2.969
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              671.062
Skew:                          -0.016   Prob(JB):                    1.91e-146
Kurtosis:                      11.091   Cond. No.                         4.45
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.