<a href="https://colab.research.google.com/github/faisalnawazmir/Econometrics-ML_for_Finance/blob/main/template_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

In [ ]:
file = r'/gdrive/My Drive/data/SandPhedge.xls'
df = pd.read_excel(file)
df.head()

        Date        Spot  Futures
0 1997-09-01  947.280029   954.50
1 1997-10-01  914.619995   924.00
2 1997-11-01  955.400024   955.00
3 1997-12-01  970.429993   979.25
4 1998-01-01  980.280029   987.75